body {
	/* background-image: url('http://example.com/assets/img/background.webp'); */
}
/* 根容器 */
#root-container {
	display: -webkit-flex;
	flex-direction: column;
	min-height: 100vh;
}

/* 导航栏 */
#navbar {
	display: -webkit-flex;
	justify-content: space-between;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(242,230,206,0.647);
	padding: 0;
	height: 50px;
	border-radius: 10px;
	z-index: 97;
}
#navbar a,
#navbar a:visited { color: #4a4a4a; }
#navbar a:hover { color: #3273dc; }
/* 导航栏左部 */
#navbar-start {
	display: -webkit-flex;
	justify-content: center;
	margin-left: 10px;
}
/* 导航栏链接 */
.navbar-link {
	display: -webkit-flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.navbar-link.active {
	background-color: rgba(242,222,182,0.7);
	color: #2177b8;
}
/* 导航栏右侧 */
#navbar-end {
	display: -webkit-flex;
	margin-right: 10px;
}
/* 导航栏图标 */
.navbar-icon {
	display: -webkit-flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.navbar-icon.catalogue { display: none; }

/* 页面主体 */
#main-container {
	margin: 70px auto 20px auto;
	display: -webkit-flex;
}
/* 主栏 */
#main-column { margin-left: 20px; }
/* 侧栏 */
#sub-column {}
/* 卡片和小组件样式 */
.card, .widget {
	background-color: rgba(248, 244, 237, 0.75);
	border-radius: 15px;
	word-wrap: break-word;
	padding: 1.3125rem;
	color: #4a4a4a;
}
.card:not(:last-child), .widget:not(:last-child) { margin-bottom: 1.25rem; }
.card > .title {
	font-size: 1.5rem;
	margin-top: 1.125rem;
	margin-left: 0.75rem;
}
.widget .title {
	color: #7a7a7a;
	font-size: 1rem;
	letter-spacing: 1.2px;
	margin-bottom: 10px;
}

.card.group {
	display: flow-root;
	padding: 0 15px 20px 15px;
}
.box-container {
	position: relative;
	width: 25%;
	float: left;
	padding: 0 10px;
}
.box {
	height: 120px;
	cursor: pointer;
	margin: 20px 0 0 0;
	padding: 15px;
	background-color: rgba(255,255,255,0.85);
	border: 1px solid #e4ecf3;
	border-radius: 4px;
	transition: all 0.3s ease;
}
.box:hover {
	transform: translateY(-6px);
	box-shadow: 0 26px 40px -24px rgba(0,36,100,0.3);
}
.box .title {
	font-size: 0.875rem;
}
.box .meta {
	font-size: 0.8125rem;
	color: #979898;
}
.tooltip {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.75rem;
	z-index: 100;
}
.tooltip .arrow {
	position: relative;
	width: 0;
	height: 0;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-color: transparent;
	border-width: 0 5px 5px;
	border-bottom-color: rgba(0,0,0,0.7);
}
.tooltip .inner {
	padding: 10px 15px;
	white-space: nowrap;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
}

/* 目录样式 */
#toc {
	position: sticky;
	top: 70px;
	padding-left: 15px;
	padding-right: 10px;
	overflow-y: auto;
}
.toc-list {
	display: block;
	list-style: none;
	font-size: 0.875rem;
	max-height: calc(100vh - 135px - 0.75rem) !important;
}
.toc-list a {
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 10.5px;
	border-radius: 2px;
	color: #4a4a4a;
	transition: .3s cubic-bezier(.25,.46,.45,.94) all;
}
.toc-list a:hover {
	background-color: rgba(245,245,245,0.7);
	color: #363636;
}
.toc-list a.active{
	background-color: rgba(238,243,252,0.7);
	color: #3273dc;
}

/* 页脚 */
footer {
	background-color: rgba(242,230,206,0.647);
	width: 100%;
	padding: 2rem 0;
	margin: auto auto 0 auto;
	line-height: 1.5;
	font-size: small;
	text-align: center;
	color: #777;
}

/* 回顶按钮 */
#backToTop {
	position: fixed;
	display: none;
	width: 40px;
	height: 40px;
	font-size: 14px;
	color: #4a4a4a;
	align-items: center;
	justify-content: center;
	background-color: rgba(248,244,237,0.875);
	border-radius: 50%;
}
#backToTop.show { display: -webkit-flex; }

/* 遮罩层 */
#toc-mask {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0,0,0,0.7);
}

/* 适配屏幕 */
@media screen and (max-width: 639px), print {
	#navbar { width: 100%; }
	.navbar-link {
		padding-left: 6px;
		padding-right: 6px;
	}
	.navbar-icon.catalogue { display: -webkit-flex; }
	#main-container { width: calc(100% - 40px); }
	#main-column {
		width: 100%;
		margin-left: 0;
	}
	.box-container { width: 100%; }
	.widget { display: none; }
	#toc {
		display: none;
		position: fixed;
		margin: 30px;
		left: 0;
		right: 0;
		top: 25px;
		z-index: 100;
		max-height: calc(100vh - 120px);
	}
	#toc.active,
	#toc-mask.active { display: block; }
	.toc-list { max-height: initial !important; }
}
@media screen and (min-width: 640px) and (max-width: 919px), print {
	#navbar, #main-container { width: calc(100% - 40px); }
	#main-column { width: calc(100% - 220px); }
	#sub-column { width: 200px; }
	.box-container { width: 50%; }
}
@media screen and (min-width: 920px) and (max-width: 1439px), print {
	#navbar, #main-container { width: calc(100% - 100px); }
	#main-column { width: calc(0.75*(100% - 20px)); }
	#sub-column { width: calc(0.25*(100% - 20px)); }
	.box-container { width: 33.3%; }
}
@media screen and (min-width: 1440px), print {
	#navbar, footer, #main-container { width: 1340px; }
	#main-column { width: 990px; }
	#sub-column { width: 330px; }
}